<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Books List</h1>

    <a href="{% url 'books:book_create' %}">Add New Book</a>

    <ul>
        {% for book in books %}
            <li>
                {{ book.title}} - {{ book.author.first_name}} {{book.author.last_name}}
                {% if book.category %}
                    {{ book.category.name}}
                {% endif %}
                <a href="{% url 'books:book_update' book.id %}">edit</a>
            </li>
        {% endfor %}
    </ul>    
</body>
</html>